{% extends "base.html" %}

{% block title %}LOLSS{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
  {% if stream_list %}
  <p><strong>Here's the list of available streams!</strong></p>
  {% for column in stream_list | slice(3) %}
  <ul class="col-md-4">
    {% for stream in column %}
    <li>
      Name: {{ stream['channel']['name'] }}<br/>
      <a href="{{ stream['channel']['url'] }}" target="_blank"><img border="0" alt="{{ stream['channel']['status'] }}" src="{{ stream['preview']['medium'] }}"></a><br/>
      Game: {{ stream['game'] }}<br/>
      Rank: Pending<br/>
      Viewers: {{ stream['viewers'] }}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  {% else %}
  <p><strong>No streams available.</strong></p>
  {% endif %}
  </div>
</div>
{% endblock %}
