<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}LOLSS - Streams by Champion{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Click on the Champion portrait to see a list of related streams.</h1>
</div>

{% if champ_pool %}
<div class="container">
  <div class="row">
    {% for column in champ_pool | slice(3) %}
    <ul class="col-md-4">
      {% for champ in column %}
      <li>
        <strong>{{ champ }}</strong><br/>
	
        <a href="{{ url_for('champions.single_champ', champion=champ) }}">
          <img border="0" alt="{{ champ }}" src="http://ddragon.leagueoflegends.com/cdn/4.20.1/img/champion/{{ champ }}.png">
        </a>
      </li>
      <br/>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
{% else %}
<strong>No champions available!</strong>
{% endif %}

{% endblock %}
